@use '../../colors' as colors;

.exam-score {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: colors.$background-color;

  .close-button {
    display: flex;
    justify-content: right;
    padding: 20px 20px 0 0;
  }

  .message {
    font-weight: 700;
    font-size: 28px;
    color: colors.$secondary;
  }

  .contents {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
      width: 48px;
      height: 48px;
    }

    .score-text {
      color: colors.$secondary;
      font-size: 18px;
      font-weight: 500;
    }

    .final-total-scores {
      margin-top: 10px;
      color: colors.$secondary;
      font-weight: 700;
      font-size: 32px;
    }
  }

  .results {
    padding: 20px;

    .headers {
      display: flex;

      .headers-text {
        font-weight: 700;
        font-size: 16px;
        margin: 20px 0;
        flex: 1;
      }

      .result-text {
        text-align: center;
      }
    }

    .line {
      border: 0.8px solid colors.$secondary;
    }

    .details {
      margin-top: 20px;

      .detail {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        gap: 10px;

        .title {
          font-weight: 700;
          font-size: 14px;
          color: colors.$secondary;
          flex: 1;
        }

        .choice {
          font-weight: 500;
          font-size: 14px;
          color: colors.$secondary;
          flex: 1;
        }

        .icon-result {
          width: 32px;
          height: 32px;
          flex: 1;
        }
      }
    }
  }
}
