@use '../colors' as colors;

.header {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 20px 20px 0 20px;

  img {
    width: 24px;
    height: 24px;
  }

  .text {
    color: #{colors.$text-dark};
    font-weight: 700;
    font-size: 14px;
  }
}
