@use '../../../colors' as colors;

.module-1-topic-2 {
  .module-1-topic-2-instructions-container {
    padding: 10px 20px 20px 20px;
    position: relative;
    height: 80vh;

    .module-1-topic-2-subtitle {
      color: colors.$secondary;
      font-weight: 500;
      margin-bottom: 20px;
      font-size: 18px;
    }

    .module-1-topic-2-instructions {
      color: colors.$secondary;
      font-weight: 400;
      font-size: 16px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  .module-1-topic-2-information-message {
    position: absolute;
    bottom: 90px;
    left: 20px;
    right: 20px;

    .information-message-content {
      background-color: colors.$background-color;
      border-radius: 20px;
      padding: 30px;
      color: colors.$secondary;
      text-align: center;
      border-color: colors.$primary;

      .information-message-title {
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 6px;
      }

      .information-message-text {
        margin-bottom: 20px;
        font-size: 16px;
      }

      .placeholder-message {
        font-weight: 700;
      }
    }
  }
}
