@use '../../colors' as colors;

.home-page {
  padding: 20px;
  padding-bottom: 80px;

  .home-page-title {
    padding: 0px 0px 20px 0;
    color: #{colors.$text-dark};
    font-weight: 700;
    font-size: 24px;
  }
}
