@use '../../colors' as colors;

.enabled {
  background-color: #{colors.$primary};
}

.disabled {
  background-color: #{colors.$outline};
}

.module-list-item {
  height: 120px;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .module-list-item-header {
    .module-list-item-header-title {
      color: #{colors.$text-light};
      font-weight: 700;
      font-size: 20px;
    }

    .module-list-item-header-subtitle {
      color: #{colors.$text-light};
      font-weight: 300;
      font-size: 16px;
    }
  }

  .module-list-item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .module-list-item-progress {
      color: #{colors.$text-light};
    }

    .module-list-item-button {
      padding: 8px;
      border-radius: 8px;
      border: 0;
      width: 100px;
      font-weight: 500;
    }

    .button-unfinish {
      background-color: #{colors.$background-color};
      color: #{colors.$primary};
    }

    .button-finished {
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: #{colors.$secondary};
      color: #{colors.$text-light};
    }
  }
}
